<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>SignUp</title>
</head>
<body class="bg-gradient-to-b from-violet-600 via-violet-500 to-violet-400">
    <nav id="navbar" class="fixed top-0 right-0 left-0 bg-violet-600 shadow-md h-16">
    </nav>

    <div id="notification" class="fixed top-20 right-0 left-0">
    </div>

    

    <div class="mt-20 flex max-w-7xl mx-auto justify-center items-center px-4">
        <form id="form" class="flex flex-col gap-4 bg-slate-200 p-4 rounded-lg text-md shadow-lg lg:w-2/4">
            <div class="flex flex-col gap-2">
                <label for="name-input" class="font-bold text-zinc-800">Name <span class="text-red-500">*</span></label>
                <input 
                type="text" 
                id="name-input" 
                name="name-input" 
                autocomplete="off" 
                placeholder="Nicole Perez"
                class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700">
                <p class="text-xs text-zinc-800">First and last name. Must begin with the first capital letter</p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="email-input" class="font-bold text-zinc-800">Email address<span class="text-red-500">*</span></label>
                <input 
                type="email" 
                id="email-input" 
                name="email-input" 
                autocomplete="off" 
                placeholder="youremail@gmail.com"
                class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700">
                <p class="text-xs text-zinc-800">Email address is required.</p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="password-input" class="font-bold text-zinc-800">Password<span class="text-red-500">*</span></label>
                <input 
                type="password" 
                id="password-input" 
                name="password-input" 
                autocomplete="off" 
                class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700">
                <p class="text-xs text-zinc-800">
                    Must contain at least one special character<br>
                    Must contain at least one number <br>
                    At least 8 characters
                </p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="password-input" class="font-bold text-zinc-800">Confirm password <span class="text-red-500">*</span></label>
                <input 
                type="password" 
                id="match-input" 
                name="match-input" 
                autocomplete="off" 
                class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700">
                <p class="text-xs text-zinc-800">
                    Password must match.
                </p>
            </div>

            <div id="loader-container"></div>

           <button disabled id="form-btn" class="bg-sky-500 py-2 px-4 rounded-lg font-bold text-white hover:bg-sky-600 transition ease-in-out disabled:opacity-50 disabled:cursor-not-allowed">Register</button>
        </form>
    </div> 
    <script src="/components/nav.js"></script>
    <script type="module" src="index.js"></script>
    <script type="module" src="../components/notification.js"></script>

</body>
</html>